

<!DOCTYPE html>
<html>
<head>
    <title>Images List</title>
</head>
<body>
    <h1>Liste des images :</h1>

    <ul>
        {# Utiliser une boucle for pour afficher chaque nom d'image #}
        {% for imageName in imageNames %}
            <li>{{ imageName }}</li>
        {% endfor %}
    </ul>
</body>
</html>
