 {% extends 'base.html.twig' %}


{% block title %}Dance  {% endblock %}

 

{% block body %}
  

    <div class="preloader-wrapper">
      <div class="preloader">
      </div>
    </div>

    

    <section id="hero-section">
      <div class="container">
        
        <div class="hero text-center" data-aos="fade-up">
          <img src="images/dance-banner2.jpg" alt="dancer" class="banner-image">
        </div>
        
      </div>
    </section>
<section id="products" class="padding-large">
      <div class="section-header text-center">
        <h2 class="section-title">
          <span class="text-primary">Check Our</span> big deals
        </h2>
      </div>
      <div class="container">
        <div class="swiper product-swiper product-content">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="product-item">
                <div class="image-holder align-center">
                  <img src="images/product-thumb-1.jpg" alt="shirt">
                </div>
                <div class="products-title text-center">
                  <a href="single-product.html">Baggy Black T-Shirt</a>
                  <span class="price text-primary">$40.00</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item">
                <div class="image-holder align-center">
                  <img src="images/product-thumb-2.jpg" alt="shoes">
                </div>
                <div class="products-title text-center">
                  <a href="single-product.html">Spikenard Sneakers</a>
                  <span class="price text-primary">$35.00</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item">
                <div class="image-holder align-center">
                  <img src="images/product-thumb-3.jpg" alt="sweatshirt">
                </div>
                <div class="products-title text-center">
                  <a href="single-product.html">Skeen Sweatshirt</a>
                  <span class="price text-primary">$22.00</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item">
                <div class="image-holder align-center">
                  <img src="images/product-thumb-4.jpg" alt="shirt">
                </div>
                <div class="products-title text-center">
                  <a href="single-product.html">Baggy Black T-Shirt</a>
                  <span class="price text-primary">$12.00</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item">
                <div class="image-holder align-center">
                  <img src="images/product-thumb-5.jpg" alt="shoes">
                </div>
                <div class="products-title text-center">
                  <a href="single-product.html">Spikenard Sneakers</a>
                  <span class="price text-primary">$12.00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-center">
        <a href="#" class="btn btn-outline-primary btn-pill btn-medium">View All Products</a>
      </div>
    </section>
    

    <section id="videos">
      <div class="container">
        <div class="row">
          <div class="section-header">
            <h2 class="section-title text-center">
              <span class="text-primary">Watch Our Latest</span> Youtube Videos
            </h2>
          </div>
          <div class="container">
            <div class="row">
              <div class="video-item">
                <div class="col-md-6">
                  <div class="video-player" data-aos="fade" data-aos-delay="0">
                    <a href="https://www.youtube.com/embed/dSR9oe_1xrU" class="youtube">
                      <img src="images/video-item.jpg" alt="video">
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="video-player" data-aos="fade" data-aos-delay="100">
                    <a href="https://www.youtube.com/embed/dSR9oe_1xrU" class="youtube">
                      <img src="images/video-item1.jpg" alt="video">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="video-item">
                <div class="col-md-4">
                  <div class="video-player" data-aos="fade" data-aos-delay="200">
                    <a href="https://www.youtube.com/embed/dSR9oe_1xrU" class="youtube">
                      <img src="images/video-item2.jpg" alt="video">
                    </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="video-player" data-aos="fade" data-aos-delay="300">
                    <a href="https://www.youtube.com/embed/dSR9oe_1xrU" class="youtube">
                      <img src="images/video-item3.jpg" alt="video">
                    </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="video-player" data-aos="fade" data-aos-delay="400">
                    <a href="https://www.youtube.com/embed/dSR9oe_1xrU" class="youtube">
                      <img src="images/video-item4.jpg" alt="video">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-center">
              <a href="https://www.youtube.com/@UrbanDanceTunisia" class="btn btn-outline-primary btn-pill btn-medium">View All Videos</a>
            </div>
          </div>
    </section>
    <section id="about-us" class="padding-large">
      <div class="container">
        <div class="row d-flex flex-wrap">
          
          <div class="col-md-6 col-md-offset-3">
            <div class="block-text">
              <h2 class="section-title" data-aos="fade-up" data-aos-delay="0">
                <span class="text-primary">Welcome To Our</-span> Dance Studio
              </h2>
              <p data-aos="fade-up" data-aos-delay="100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <p data-aos="fade-up" data-aos-delay="100">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              <div class="btn-left" data-aos="fade-up" data-aos-delay="200">
                <a href="about.html" class="btn btn-outline-primary btn-pill btn-medium">About Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="inspiring-quote bg-light-grey padding-large">
      <div class="container">
        <div class="row">
          <div class="section-header text-center">
            <h2 class="section-title">
              <span class="text-primary">Daily Inspiring</span> Quote
            </h2>
          </div>
          <div class="quotation">
            <q class="align-center">
              <p>"I'm going to search for my star until i find it. It's hidden in the drawer of innocence, wrapped in a scarf of wonder."</p>
              <span class="author">-Michael Jackson</span>
            </q>
          </div>
        </div>
      </div>
    </section>
    <section id="blog" class="latest-blogs padding-large">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title">
            <span class="text-primary">Read Our</span> Latest Blog Posts
          </h2>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="post-item" data-aos="fade" data-aos-delay="0">
              <figure class="zoom-effect">
                <img src="images/post-item1.jpg" alt="postitem" class="blog-image">
              </figure>
              <div class="post-content">
                <div class="meta-tags">
                  <span class="meta-date">Posted on Jan 30, 2020</span>
                  <span class="meta-author">By <a href="#">Admin</a></span>
                </div>
                <h3 class="post-title">
                  <a href="single-post.html">Dancing Acts Like Meditation</a>
                </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. <a href="#" class="link">Read More</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="post-item" data-aos="fade" data-aos-delay="100">
              <figure class="zoom-effect">
                <img src="images/post-item2.jpg" alt="postitem" class="blog-image">
              </figure>
              <div class="post-content">
                <div class="meta-tags">
                  <span class="meta-date">Posted on Feb 10, 2020</span>
                  <span class="meta-author">By <a href="#">Admin</a></span>
                </div>
                <h3 class="post-title">
                  <a href="single-post.html">First Step Of Dance Is Full Of Joys</a>
                </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. <a href="#" class="link">Read More</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="post-item" data-aos="fade" data-aos-delay="200">
              <figure class="zoom-effect">
                <img src="images/post-item3.jpg" alt="postitem" class="blog-image">
              </figure>
              <div class="post-content">
                <div class="meta-tags">
                  <span class="meta-date">Posted on Feb 15, 2020</span>
                  <span class="meta-author">By <a href="#">Admin</a></span>
                </div>
                <h3 class="post-title">
                  <a href="single-post.html">Journey For Being Ballerina</a>
                </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. <a href="#" class="link">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-center">
          <a href="blog.html" class="btn btn-outline-primary btn-pill btn-medium">Read All Blog</a>
        </div>
      </div>
    </section>
    
    <section id="instagram">
      <div class="section-header text-center">
        <h2 class="section-title">
          <span class="text-primary">Check Our</span> Instagram Posts
        </h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="instagram-content d-flex flex-wrap justify-content-center">
            <div class="col-md-2 col-sm-4">
              <figure class="zoom-effect magnific">
                <a href="images/largeitem1.jpg">
                  <img src="images/item1.jpg" alt="instagram">
                  <div class="icon-overlay">
                    <i class="icon icon-instagram1"></i>
                  </div>
                </a>
              </figure>
            </div>
            <div class="col-md-2 col-sm-4">
              <figure class="zoom-effect magnific">
                <a href="images/largeitem2.jpg">
                  <img src="images/item2.jpg" alt="instagram">
                  <div class="icon-overlay">
                    <i class="icon icon-instagram1"></i>
                  </div>
                </a>
              </figure>
            </div>
            <div class="col-md-2 col-sm-4">
              <figure class="zoom-effect magnific">
                <a href="images/largeitem3.jpg">
                  <img src="images/item3.jpg" alt="instagram">
                  <div class="icon-overlay">
                    <i class="icon icon-instagram1"></i>
                  </div>
                </a>
              </figure>
            </div>
            <div class="col-md-2 col-sm-4">
              <figure class="zoom-effect magnific">
                <a href="images/largeitem4.jpg">
                  <img src="images/item4.jpg" alt="instagram">
                  <div class="icon-overlay">
                    <i class="icon icon-instagram1"></i>
                  </div>
                </a>
              </figure>
            </div>
            <div class="col-md-2 col-sm-4">
              <figure class="zoom-effect magnific">
                <a href="images/largeitem5.jpg">
                  <img src="images/item5.jpg" alt="instagram">
                  <div class="icon-overlay">
                    <i class="icon icon-instagram1"></i>
                  </div>
                </a>
              </figure>
            </div>
            <div class="col-md-2 col-sm-4">
              <figure class="zoom-effect magnific">
                <a href="images/largeitem6.jpg">
                  <img src="images/item6.jpg" alt="instagram">
                  <div class="icon-overlay">
                    <i class="icon icon-instagram1"></i>
                  </div>
                </a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
   
    
   
  
 {% endblock %}