{% extends 'base.html.twig' %}

{% block title %}Hello ConnexionController!{% endblock %}

{% block body %}


<section id="newsletter" class="newsletter padding-large no-padding-top">
    <div class="container position-relative">
      <div class="row justify-content-center">
        <div class="col-md-4">
       
        </div>
        <div class="col-md-6">
          <div class="form-content">
            <div class="section-header">
              <h2 class="section-title text-center mb-0">
                <span class="text-primary">Welcome</span> To our familly
              </h2>
            </div>
            <form id="form">

                <label>
                    <input type="Text" name="fullname" placeholder="First Name" data-name="fullname" required
                      class="bg-light u-full-width">
                </label>
                <label>
                    <input type="Text" name="fullname" placeholder=" Name" data-name="fullname" required
                      class="bg-light u-full-width">
                </label>
                <label>
                    <input type="Text" name="fullname" placeholder=" Phone Number" data-name="fullname" required
                      class="bg-light u-full-width">
                </label>
                <label>
                    <input type="Text" name="fullname" placeholder="Type Your Email" data-name="fullname" required
                      class="bg-light u-full-width">
                </label>
                <label>
                    <input type="Text" name="email" placeholder="Type Your Password" required="" data-name="email"
                      class="bg-light u-full-width">
                </label>
                <div class="btn-submit align-center">
                  <button class="submit btn btn-pill btn-medium btn-primary btn-full" type="submit">Sign Up</button>
                </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
