{% extends 'base1.html.twig' %}

{% block title %}Edit Coach{% endblock %}

{% block body %}
    <h1>Edit Coach</h1>

    {{ include('coach/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
